:root {
    --blue : #2980b9;
    --light-blue : #ecf4f9;
    --border : 1px solid rgba(0,0,0.1);
}

/* global styles and ressetting the css */
*{
    padding : 0 ;
    margin : 0;
    box-sizing: border-box;
    outline : none;
    border : none;
    text-decoration: none;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    min-height : 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    padding : 20px;
    padding-bottom : 70px;
    background  : #f0f3f5;
}

.container form { 
    width : 600px;
    box-shadow : 0 10px 15px rgba(0,0,0,.1);
    border-radius : 5px;
    text-align : center;
    overflow: hidden;
}

/* styling the form-top */
.container form .form-top {
    background-color: #fff;
    padding : 30px 15px
}

.container form h3{
    font-size : 17px;
    padding-bottom : 40px;
    color : #666;
}

.container form .form-top .buttons .btn{
    font-size: 17px;
    margin : 5px;
    display : inline;
    background-color: var(--light-blue);
    border: var(--border);
    border-radius : 5px;
    padding : 10px 30px;
    color : #333;
}

.container form .form-top .buttons .btn i {
    padding-right : 10px;
}

.container form .form-top .buttons .btn:hover {
    color : #fff;
    background-color: var(--blue);
}
.container form .form-top .buttons .btn:hover i{
    color : #fff;
}

/* styling the form-bottom */
.container form .form-bottom {
    padding :10px 30px;
    background-color: var(--light-blue);
    margin-bottom: 25px;
}

.container form .form-bottom h3{
    padding : 10px;
    padding-top : 0px;
}

.container form .form-bottom h3 span{
    display: block;
    background-color : black;
    font-weight : bold;
    width : 43px;
    font-size : 17px;
    padding : 4px 8px;
    margin : 10px auto;
    color : #fff;
    border-radius : 5px;
}

.container form .form-bottom .input{
    margin : 15px auto;
    display : flex;
    align-items : center;
    height : 50px;
    width : 100%;
    border-radius : 5px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    border : var(--border);
}

.container form .form-bottom .input input{
    height : 100%;
    width : 100%;
    padding : 10px;
    font-size : 16px;
    color : #333 
}

.container form .form-bottom .input span {
    color : #333;
    padding-right : 5px;
    padding-left : 15px;
    font-size : 20px;
}

.container form .form-bottom .checkbox {
    text-align : left;
    padding : 10px 0;
}

.container form .form-bottom .checkbox label {
    color : #333;
    font-size : 17px;
    cursor : pointer;
}

.container form .form-bottom .sign-in-btn{
    cursor : pointer;
    padding: 10px 40px;
    margin-top : 10px;
    font-size : 17px;
    color : #fff;
    border-radius : 5px;
    background-color: var(--blue);
    transition : .2s linear;
}

.container form .form-bottom .sign-in-btn:hover {
    letter-spacing: 2px;
}

@media screen and (max-width : 480px){
    .container form .form-top .buttons .btn{
        display : block;
        width : 60%;
        margin : 5px auto;
    }

    .container form .form-top .buttons .facebook-btn {
        display : inline-block;
        width : 60%;
    }
    .container form .form-top{
        text-align : center;
    }

    .container form h3{
        padding-bottom : 15px;
    }
}